<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font Sora -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="./Bootstrap5/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./index.css" />
    <script
      src="./Bootstrap5/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <title>Info Max Digital</title>
    <link rel="icon" href="https://www.infomaxdigital.com.au/images/logo.png" />
  </head>
  <body>
    <!-- header section start -->
    <section class="header-wrapper">
      <!-- Background Layer -->
      <div class="bg-img-layer-1"></div>
      <div class="bg-img-layer-2"></div>

      <!-- Main Header Content -->
      <div class="container">
        <div class="row">
          <div
            class="col-12 d-flex justify-content-center align-items-center my-4">
            <img src="./images/heading_logo.png" alt class="img-fluid" />
          </div>
        </div>
        <div class="row">
          <div
            class="col-12 d-flex justify-content-center align-items-center mb-4">
            <img src="./images/Line 41.png" alt class="img-fluid" />
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-12 col-lg-6 text-white mb-4">
            <h2 class="display-4 fw-bold">
              Dedicated Offshore Development, Built for Australia
            </h2>
          </div>
          <div class="col-12 col-lg-6 header-right-content">
            <p class="pb-4">High-performance web solutions powered by WordPress,
              Shopify, Laravel, Webflow & more</p>
            <div class="mb-4">
              <button>Get a Free Quote <img class="ps-2"
                  src="./images/button_forward_arrow.png" alt></button>
              <button class="btn-view-our">View Our Work <img class="ps-2"
                  src="./images/button_forward_arrow_2.png" alt></button>
            </div>
            <img class="pt-4 pb-2" src="./images/short-line.png" alt>
            <div class="d-flex justify-content-between mt-3">
              <div>
                <h2 class="head-project-detail-font font-bold mb-0">500+</h2>
                <p class="head-project-detail-text-font">Projects Delivered</p>
              </div>
              <div>
                <h2 class="head-project-detail-font font-bold mb-0">100%</h2>
                <p class="head-project-detail-text-font">Client Satisfied</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Main Image -->
        <div class="row mt-5">
          <div class="col-12">
            <img src="./images/header-main-image.png" alt
              class="img-fluid w-100" />
          </div>
        </div>
      </div>
    </section>
    <!-- header below section start -->
    <section>
      <div class="container">
        <div class="row-gap-maintain"></div>
        <!-- technologies section start -->
        <div class="row">
          <div class="col-12 d-flex justify-content-center trusted-title">
            <h2 class>Trusted Technologies & Partners</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-lg-2 col-md-3">
            <div id="carouselExampleControls" class="carousel slide"
              data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class src="./images/Ellipse 15(1).png"
                    alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class src="./images/Ellipse 15.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class src="./images/Ellipse 15.png" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls"
                role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"
                  aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls"
                role="button" data-slide="next">
                <span class="carousel-control-next-icon"
                  aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row-gap-maintain"></div>
        <!-- our partner section start -->
        <div class="row">
          <div class="col-12 col-lg-6">
            <img src="./images/image(16).png" alt>
          </div>
          <div class="col-12 col-lg-6 our-partner">
            <h2 class="mb-3">Our Partners</h2>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. In blandit elit ac tortor fermentum euismod. Etiam commodo
              risus et diam convallis vestibulum. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. In blandit elit.</p>
            <p class="mb-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
              blandit elit ac tortor fermentum euismod. Etiam commodo risus et
              diam convallis vestibulum</p>
            <div class="row">
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100" alt>
              </div>
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100" alt>
              </div>
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100" alt>
              </div>
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100" alt>
              </div>
            </div>
          </div>
        </div>
        <div class="row-gap-maintain"></div>
        <!-- service section start -->
        <div class="row">
          <div class="col-12 core-service-section text-center">
            <h2 class="mb-3">Our Core Services</h2>
            <p>Comprehensive digital solutions tailored to your business
              needs</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3">
           <div class="services-card">
             <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="wb">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
           </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="services-card">
              <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="wb">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
           <div class="services-card">
             <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
           </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="services-card">
              <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
        </div>
         <div class="row mt-4">
          <div class="col-12 col-lg-3">
           <div class="services-card">
             <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="wb">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
           </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="services-card">
              <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="wb">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
           <div class="services-card">
             <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
           </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="services-card">
              <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-2 d-flex justify-content-center align-items-center">
            <button class="lear-more-btn">Learn More</button>
          </div>
        </div>
         <div class="row-gap-maintain"></div>
        <!-- our portfolio section -->
          <div class="row">
          <div class="col-12 core-service-section text-center">
            <h2 class="mb-3">Our Portfolio</h2>
            <p>Showcasing our best work for Australian businesses</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 p-0 associate-img-bg">
            <img src="./images/pmaimg.png" class="w-100" height="500px" alt="">
            <div class="px-4 py-4">
              <span class="bage-font-style me-2">Shopify</span><span class="bage-font-style me-2">Custom Apps</span><span class="bage-font-style me-2">SEO</span>
              <h2 class="my-3">PMA Associates</h2>
              <p>We provide a full range of Tax and Accounting services, along with Strategic Planning, Advisory, and Business Consultancy.</p>
            </div>
          </div>
          <div class="col-12 col-lg-4 p-0 syc-img-bg">
            <img src="./images/pmaimg.png" class="w-100" height="500px" alt="">
            <div class="px-4 py-4 border-bottom-end">                          
              <span class="syc-font-style me-2">WordPress</span><span class="syc-font-style me-2">Custom Apps</span><span class="syc-font-style me-2">Performance</span>
              <h2 class="my-3">SYC</h2>
              <p class="mb-3">SYC have extended this expertise to people of all ages for more than three decades.</p>
              <span class="syc-read-more">Read More</span><img src="../Layout/images/Arrow 3 (Stroke)(1).png" alt="">
            </div>
          </div>
           <div class="col-12 col-lg-4 p-0 associate-img-bg">
            <img src="./images/pmaimg.png" class="w-100" height="500px" alt="">
            <div class="px-4 py-4">
              <span class="bage-font-style me-2">Shopify</span><span class="bage-font-style me-2">Custom Apps</span><span class="bage-font-style me-2">SEO</span>
              <h2 class="my-3">PMA Associates</h2>
              <p>We provide a full range of Tax and Accounting services, along with Strategic Planning, Advisory, and Business Consultancy.</p>
            </div>
          </div>
        
        </div>
      </div>
    </section>
    <!-- header below section end -->
  </body>
</html>
