body {
  font-family: 'Sora', sans-serif;
}

p{
  margin-bottom: 0px;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


.tech-scroll-container {
    overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  }
.tech-item:nth-child(-n+7){
  margin-right: 30px;
}
 
  /* Hide scrollbar in WebKit browsers */
  .tech-scroll-container::-webkit-scrollbar {
    display: none;
  }
/* two row inside space mainten */
.row-gap-maintain{
  height: 100px;
  width: 100%;
}
.header-wrapper {
  position: relative;
  background-color:#ffffff; /* fallback if image fails */
  color: #fff;
  overflow: hidden;
}


 .bg-img-layer-1 {
  background-image: url("./images/header_bg.png");
  position: absolute;
  top: 0;
  width: 100%;
  height: 850px;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #000000 48.14%, #FFFFFF 100%);

}

.bg-img-layer-2 {
  background-image: url("./images/header_bg_2.png");
  position: absolute;
  top: 110px;
  width: 100%;
  height: 1129px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(8.27deg, #FFFFFF 23.3%, #4051AB 53.77%, rgba(0, 0, 0, 0.8) 87.98%);

}


.header-wrapper .container {
  position: relative;
  z-index: 2; /* keeps content above background */
}

.header-right-content p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
}

.header-right-content button {
  font-size: 16px;
  font-weight: 600;
  color: #11152D;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 16px 23px 14px 23px;
}

.header-right-content .btn-view-our {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 25px;
   padding: 16px 23px 14px 23px;
  /* margin-left: 10px; */
}

.head-project-detail-font {
  font-size: 74px;
  line-height: 70px;
}

.head-project-detail-text-font {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.trusted-title h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  /* padding-top: 130px; */
}
.carousel-inner img {
  max-width: 80px;
  height: auto;
  object-fit: contain;
}
.our-partner{
  padding-left: 153px;
  padding-top: 77px;
  padding-bottom: 77px;
}
.our-partner h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
} 
.our-partner p{
  font-size:18px;
  font-weight: 400;
  line-height: 28px;
}

/* service section start */
.core-service-section{

}

.core-service-section h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
}
.core-service-section p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
   margin-bottom: 50px;
   color: #212121;
}
.services-card{
  padding: 30px;
  background-color: #EDEFF8;
  border-radius: 25px;
}
.services-card p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #212121;
 
}
.services-card h2{
  margin-top: 50px;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
}

.lear-more-btn{
  display: inline-block;
  font-size: 16px;
  font-weight: 700px;
  line-height: 100%;
  color: #FFFFFF;
  background-color: #EE4136;
  border-radius: 25px;
  border: none;
  padding: 15px 23px;
  margin-top: 50px;
}
.associate-img-bg{
  background-color: #EDEFF8;
}
.associate-img-bg h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
}
.bage-font-style{
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 5px 13px;
}

.syc-font-style{
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  background-color: #EDEFF8;
  border-radius: 5px;
  padding: 5px 9px;
}
.syc-read-more{
  color: #4051AB;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}
.syc-img-bg h2{
font-size: 24px;
font-weight: 700;
line-height: 100%;
color: #000000;
latter-spacing: 0%;
}

.syc-img-bg p{
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: #000000;
latter-spacing: 0%;
}

.border-bottom-end{
  border-top: 5px solid #4051AB;
  position: relative;
 bottom: 30px;
 background-color: #FFFFFF;
}

/* package section style */
.package-card{
  background-color: #EDEFF8;
  border-radius: 20px ;
  height: 655px;
}
.package-card img{
  border-radius: 15px;
}
.package-card-content{
  padding: 26px;
}

.package-card-content h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}
.package-card-content p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 43px;
}
.package-card-content h3{
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  color: #4051AB;

}

.package-card-middle-border{
  border: 1px solid #B9B9B9;
}

.package-card-content-list span{
  font-size: 16px;
  font-weight: 400;
  latter-spacing: -2%;
  line-height: 40px;
}
.package-card-content-list img{
  height: 25px;
  width: 25px;
  object-fit: cover;
}
.option-add h2{
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  margin-bottom: 50px;
}
.option-add-style{
  background-color: #EDEFF8;
  border-radius: 20px;
  padding: 30px;
}

.option-add-style h2{
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #000000;
}
.option-add-style p{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  letter-spacing: 0%;
  text-align: justify;
}
.btn-request-custom-quote{
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 25px;
  background-color: #EE4136;
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;
  padding-right: 23px;
  border: none;
}
.why-choose-right{
  padding-left: 153px;
}
.why-choose-section h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 25px;
}
.why-choose-section p{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #212121;
  margin-bottom: 22px;
}
.year-of-exp h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  margin-top: 25px;
  color: #4051AB  ;
}
.year-of-exp p{
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  margin-top: 10px;
}

/* meet the team */
.meet-the-team{
  padding: 10px;  
  background-color: #EDEFF8;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.meet-the-team h4{
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  color: #EE4136;
}
.meet-the-team h5{
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #212121;
}
.meet-the-team h5{
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #212121;
}

/* form section */
.form-section-left{
background-color: #4051AB;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 50px;
padding-top: 50px;
border-radius: 20px;
}
.form-section-left h2{
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #FFFFFF;
}
.form-section-left p{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.form-section-left-list span{
  font-size: 24px;
  font-weight: 400;
  latter-spacing: 0%;
  line-height: 32px;
  color: #FFFFFF;
} 
.form-section-left-list img{
  height: 25px;
  width: 25px;
  object-fit: cover;
}
/* form section */
.get-quates-section{
  background-color: #EDEFF8;
  padding: 50px;
  border-radius: 20px;
}
.get-quates-section h2{
font-size: 40px;
font-weight: 700;
line-height: 100%;
color: #000000;
}
.get-quates-section p{
font-size: 18px;
font-weight: 400;
line-height:28px;
color: #212121;
}
/* form section */

.form-section-right{
  background-color: #EDEFF8;
  padding: 50px;
  border-radius: 20px;
}
.form-section-right h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
} 
.form-section-right p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #212121;
}
.form-text-classic label{
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.form-text-classic .form-control{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #B9B9B9;
  border-radius: 10px;
  border: 1px solid #E2E2E2;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.form-text-classic .diss-project-btn{
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 25px;
  background-color: #EE4136;
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;
  padding-right: 23px;
  border: none;
}

/* footer */
.footer-wrapper{
  position: relative;
  width: 100%;
}

.footer-wrapper-bg-img-1{
background-image: url("./images/footer-img-1.png");
position: absolute;
  top: 224px;
  width: 100%;
  height: 660px;
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-wrapper-bg-img-2{
background-image: url("./images/footer-img-2.png");
position: absolute;
  top: 0px;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 500px;
  z-index: 3;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #4051AB 0%, #0B1C76 100%);
  border-radius: 25px;
  padding: 110px;
}

.footer-wrapper-bg-img-2 h2{
color: #FFFFFF;
font-weight: 700;
font-size: 50px;
line-height: 100% ;
}

.footer-wrapper-bg-img-2 p{
color:#FFFFFF;
font-weight: 400;
font-size: 18px;
line-height: 28px;
}

.btn-footer{
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  border-radius: 25px;
  background-color:#FFFFFF;
  color: #182983;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;
  padding-right: 23px;
  border: none;
}

.footer-wrapper-bg-img-3{
  top: 50%;
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    z-index: 4;
    top: 530px;
}
.footer-wrapper-bg-img-3 h2{
  font-size: 600;
  font-size: 24px;
line-height: 100%;
letter-spacing: -4%;
color: #FFFFFF;
 
}
.footer-wrapper-bg-img-3 p{
  font-size: 400;
  font-size: 14px;
line-height: 22px;
letter-spacing: 0%;
color: #FFFFFF;
 
}

.useful-link a{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}
.location-detail a{
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
}


/* botton line section */
.row-gap-maintain-bottom-line{
  height: 90px;
}
.footer-line-text{
  height: 53px;
}
.footer-line-text p{
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #FFFFFF;
}
.footer-line-text a{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}


/* media query */
 @media (min-width: 1400px) {
  .container {
    max-width: 1590px; 
  }
}
@media (max-width: 991.98px) {
  .our-partner {
    padding-left: 165px;
    padding-top: 77px;
    padding-bottom: 77px;
}
}

/* Small screens (phones) */
@media (max-width: 575.98px) {
  .row-gap-maintain{
  height: 50px;
}
  .our-partner {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .trusted-title h2 {
  font-size: 40px;
}

.option-add-style h2{
  font-weight: 700;
  font-size: 29px;
  line-height: 100%;
  color: #000000;
  word-break: break-all;
}
.meet-the-team{
  padding: 10px;  
  background-color: #EDEFF8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
padding-top: 0px;
}
}










