<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font Sora -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="./Bootstrap5/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js" />
    <link
      rel="stylesheet"
      href="./Bootstrap5/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./index.css" />
    <script
      src="./Bootstrap5/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <title>Info Max Digital</title>
    <link rel="icon" href="https://www.infomaxdigital.com.au/images/logo.png" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <!-- header section start -->
    <section class="header-wrapper">
      <div class="bg-img-layer-1"></div>
      <div class="bg-img-layer-2"></div>
      <div class="container">
        <div class="row">
          <div
            class="col-12 d-flex justify-content-center align-items-center my-4">
            <img src="./images/heading_logo.png" alt class="img-fluid" />
          </div>
        </div>
        <div class="row">
          <div
            class="col-12 d-flex justify-content-center align-items-center mb-4">
            <img src="./images/Line 41.png" alt class="img-fluid w-100" />
          </div>
        </div>
        <div class="row pt-lg-5">
          <div class="col-12 col-lg-6 text-white mb-4">
            <h2 class="display-4 fw-bold text-center text-lg-start">
              Dedicated Offshore Development, Built for Australia
            </h2>
          </div>
          <div class="col-12 col-lg-6 header-right-content">
            <p class="pb-4 pb-sm-3 text-center text-lg-start">High-performance
              web solutions powered by WordPress,
              Shopify, Laravel, Webflow & more</p>
            <div class="mb-4 text-center text-lg-start">
              <button class="mb-3 mb-lg-0 border-0">Get a Free Quote <img
                  class="ps-2"
                  src="./images/button_forward_arrow.png" alt></button>
              <button class="btn-view-our ms-0 ms-lg-2 ms-md-3">View Our Work
                <img class="ps-2"
                  src="./images/button_forward_arrow_2.png" alt></button>
            </div>
            <img class="pt-2 pt-lg-4 pb-2 w-100" src="./images/short-line.png"
              alt>
            <div
              class="d-flex flex-column flex-lg-row flex-md-row justify-content-center justify-content-lg-between justify-content-md-between mt-3 text-center text-lg-start">
              <div class="mb-4 mb-lg-0">
                <h2 class="head-project-detail-font font-bold mb-0">500+</h2>
                <p class="head-project-detail-text-font">Projects Delivered</p>
              </div>
              <div>
                <h2 class="head-project-detail-font font-bold mb-0">100%</h2>
                <p class="head-project-detail-text-font">Client Satisfied</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <img src="./images/header-main-image.png" alt
              class="img-fluid w-100" />
          </div>
        </div>
      </div>
    </section>
    <!-- header below section start -->
    <div class="row-gap-maintain"></div>
    <!-- carousel part start -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center trusted-title">
            <h2 class>Trusted Technologies & Partners</h2>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-5">
        <div id="sixImageSlider" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-6 col-lg-2 col-md-4 mb-3 mb-lg-0"><img
                    src="../Layout/images/carousel 1.png"
                    class="img-fluid" alt="1"></div>
                <div class="col-6 col-lg-2 col-md-4 mb-3 mb-lg-0"><img
                    src="../Layout/images/carousel 1.png"
                    class="img-fluid" alt="2"></div>
                <div class="col-6 col-lg-2 col-md-4 mb-3 mb-lg-0"><img
                    src="../Layout/images/carousel 1.png"
                    class="img-fluid" alt="3"></div>
                <div class="col-6 col-lg-2 col-md-4 mb-3 mb-lg-0"><img
                    src="../Layout/images/carousel 1.png"
                    class="img-fluid" alt="4"></div>
                <div class="col-6 col-lg-2 col-md-4 mb-3 mb-lg-0"><img
                    src="../Layout/images/carousel 1.png"
                    class="img-fluid" alt="5"></div>
                <div class="col-6 col-lg-2 col-md-4"><img
                    src="../Layout/images/carousel 1.png"
                    class="img-fluid" alt="6"></div>
              </div>
            </div>
          </div>
          <!-- Optional: Navigation buttons (disabled if only 1 slide) -->
        </div>
      </div>
    </section>
    <section>
      <!-- our partner section start -->
      <div class="row-gap-maintain"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6">
            <img src="./images/image(16).png" class="w-100" alt>
          </div>
          <div class="col-12 col-lg-6 our-partner text-center text-lg-start">
            <h2 class="mb-3">Our Partners</h2>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. In blandit elit ac tortor fermentum euismod. Etiam commodo
              risus et diam convallis vestibulum. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. In blandit elit.</p>
            <p class="mb-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
              blandit elit ac tortor fermentum euismod. Etiam commodo risus et
              diam convallis vestibulum</p>
            <div class="row">
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100 mb-3 mb-lg-0"
                  alt>
              </div>
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100 mb-3 mb-lg-0"
                  alt>
              </div>
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100" alt>
              </div>
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100" alt>
              </div>
            </div>

          </div>
        </div>
        <!-- service section start -->
        <div class="row-gap-maintain"></div>
        <div class="row">
          <div class="col-12 core-service-section text-center">
            <h2 class="mb-3">Our Core Services</h2>
            <p>Comprehensive digital solutions tailored to your business
              needs</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3 col-md-6 mb-3 mb-lg-0">
            <div class="services-card">
              <img src="./images/websiteimg.png" class height="80px"
                width="80px"
                alt="wb">
              <h2 class="mb-3">Websites</h2>
              <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-6 mb-3 mb-lg-0">
            <div class="services-card">
              <img src="./images/websiteimg.png" class height="80px"
                width="80px"
                alt="wb">
              <h2 class="mb-3">Websites</h2>
              <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-6 mb-3 mb-lg-0">
            <div class="services-card">
              <img src="./images/websiteimg.png" class height="80px"
                width="80px"
                alt>
              <h2 class="mb-3">Websites</h2>
              <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-6 mb-3 mb-lg-0">
            <div class="services-card">
              <img src="./images/websiteimg.png" class height="80px"
                width="80px"
                alt>
              <h2 class="mb-3">Websites</h2>
              <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
        </div>
        <div class="row mt-0 mt-lg-4">
          <div class="col-12 col-lg-3 col-md-6 mb-3 mb-lg-0">
            <div class="services-card">
              <img src="./images/websiteimg.png" class height="80px"
                width="80px"
                alt="wb">
              <h2 class="mb-3">Websites</h2>
              <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-6 mb-3 mb-lg-0">
            <div class="services-card">
              <img src="./images/websiteimg.png" class height="80px"
                width="80px"
                alt="wb">
              <h2 class="mb-3">Websites</h2>
              <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-6 mb-3 mb-lg-0">
            <div class="services-card">
              <img src="./images/websiteimg.png" class height="80px"
                width="80px"
                alt>
              <h2 class="mb-3">Websites</h2>
              <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-6">
            <div class="services-card">
              <img src="./images/websiteimg.png" class height="80px"
                width="80px"
                alt>
              <h2 class="mb-3">Websites</h2>
              <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div
            class="col-6 col-lg-2 col-md-3 d-flex justify-content-center align-items-center">
            <button class="lear-more-btn">Learn More</button>
          </div>
        </div>
        <!-- our portfolio section -->
        <div class="row-gap-maintain"></div>
        <div class="row">
          <div class="col-12 core-service-section text-center">
            <h2 class="mb-3">Our Portfolio</h2>
            <p>Showcasing our best work for Australian businesses</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 p-0 associate-img-bg mb-3 mb-lg-0">
            <img src="./images/pmaimg.png" class="w-100" height="500px" alt>
            <div class="px-4 py-4">
              <span class="bage-font-style me-2">Shopify</span><span
                class="bage-font-style me-2">Custom Apps</span><span
                class="bage-font-style me-2">SEO</span>
              <h2 class="my-3">PMA Associates</h2>
              <p>We provide a full range of Tax and Accounting services, along
                with
                Strategic Planning, Advisory, and Business Consultancy.</p>
            </div>
          </div>
          <div class="col-12 col-lg-4 p-0 syc-img-bg mb-3 mb-lg-0">
            <img src="./images/pmaimg.png" class="w-100" height="500px" alt>
            <div class="px-4 py-4 border-bottom-end">
              <span class="syc-font-style me-2">WordPress</span><span
                class="syc-font-style me-2">Custom Apps</span><span
                class="syc-font-style me-2">Performance</span>
              <h2 class="my-3">SYC</h2>
              <p class="mb-3">SYC have extended this expertise to people of all
                ages
                for more than three decades.</p>
              <span class="syc-read-more pe-1">Read More</span><img
                src="../Layout/images/Arrow 3 (Stroke)(1).png" alt>
            </div>
          </div>
          <div class="col-12 col-lg-4 p-0 associate-img-bg mb-3 mb-lg-0">
            <img src="./images/pmaimg.png" class="w-100" height="500px" alt>
            <div class="px-4 py-4">
              <span class="bage-font-style me-2">Shopify</span><span
                class="bage-font-style me-2">Custom Apps</span><span
                class="bage-font-style me-2">SEO</span>
              <h2 class="my-3">PMA Associates</h2>
              <p>We provide a full range of Tax and Accounting services, along
                with
                Strategic Planning, Advisory, and Business Consultancy.</p>
            </div>
          </div>

        </div>
        <!-- client say section start -->
        <div class="row-gap-maintain"></div>
        <div class="row">
          <div class="col-12 core-service-section text-center">
            <h2 class="mb-3">Our Core Services</h2>
            <p>Comprehensive digital solutions tailored to your business
              needs</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12"></div>
        </div>
        <!-- our package section -->
        <div class="row-gap-maintain"></div>
        <div class="row">
          <div class="col-12 core-service-section text-center">
            <h2 class="mb-3">Our Packages</h2>
            <p>Choose the model that works best for your project</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3 col-md-3">
            <div class="package-card p-1">
              <img src="./images/hourly.png" class="w-100" alt>
              <div class="package-card-content">
                <h2 class="mb-3">Hourly</h2>
                <p>Ideal for small changes, quick fixes, or ongoing
                  consulting</p>
                <h3 class="mb-3">$80 - $120/hour</h3>
                <div class="package-card-middle-border mb-3"></div>
                <div class="package-card-content-list">
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>UI/UX changes</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>Minor bug fixes</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>CMS updates</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>Consultation and support</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-3">
            <div class="package-card p-1">
              <img src="./images/fixed_cost.png" class="w-100" alt>
              <div class="package-card-content">
                <h2 class="mb-3">Hourly</h2>
                <p>Ideal for small changes, quick fixes, or ongoing
                  consulting</p>
                <h3 class="mb-3">$80 - $120/hour</h3>
                <div class="package-card-middle-border mb-3"></div>
                <div class="package-card-content-list">
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>UI/UX changes</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>Minor bug fixes</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>CMS updates</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>Consultation and support</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-3">
            <div class="package-card p-1">
              <img src="./images/dadicated_team.png" class="w-100" alt>
              <div class="package-card-content">
                <h2 class="mb-3">Hourly</h2>
                <p>Ideal for small changes, quick fixes, or ongoing
                  consulting</p>
                <h3 class="mb-3">$80 - $120/hour</h3>
                <div class="package-card-middle-border mb-3"></div>
                <div class="package-card-content-list">
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>UI/UX changes</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>Minor bug fixes</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>CMS updates</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>Consultation and support</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3 col-md-3">
            <div class="package-card p-1">
              <img src="./images/dadicated_team.png" class="w-100" alt>
              <div class="package-card-content">
                <h2 class="mb-3">Hourly</h2>
                <p>Ideal for small changes, quick fixes, or ongoing
                  consulting</p>
                <h3 class="mb-3">$80 - $120/hour</h3>
                <div class="package-card-middle-border mb-3"></div>
                <div class="package-card-content-list">
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>UI/UX changes</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>Minor bug fixes</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>CMS updates</span>
                  </div>
                  <div>
                    <img src="../Layout/images/tick-circle(1).png" class="pe-1"
                      alt="tick">
                    <span>Consultation and support</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- optional add-on -->
        <div class="row-gap-maintain"></div>
        <div class="row">
          <div class="col-12 text-center option-add">
            <h2 class>Optional Add-ons</h2>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-12 col-lg-4 col-md-4">
            <div class="option-add-style">
              <div class="d-flex justify-content-start align-items-center">
                <img src="./images/chart-2.png" class="pe-3" alt>
                <h2>SEO Optimization</h2>
              </div>
              <div class="package-card-middle-border my-3"></div>
              <p>Boost your website's visibility with on-page and off-page SEO
                strategies tailored to rank higher in search.</p>
            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-4">
            <div class="option-add-style">
              <div class="d-flex justify-content-start align-items-center">
                <img src="./images/search-normal.svg" class="pe-3" alt>
                <h2>One of SEO
                  Package</h2>
              </div>
              <div class="package-card-middle-border my-3"></div>
              <p>Ideal for quick SEO fixes — includes a one-time audit, keyword
                targeting, and technical enhancements to improve
                .</p>

            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-4">
            <div class="option-add-style">
              <div class="d-flex justify-content-start align-items-center">
                <img src="./images/cloud-add.png" class="pe-3" alt>
                <h2>Website Recovery
                </h2>
              </div>
              <div class="package-card-middle-border my-3"></div>
              <p>Recover from traffic drops or penalties with a full SEO audit,
                issue resolution, and performance restoration.</p>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 col-md-4">
            <div class="option-add-style">
              <div class="d-flex justify-content-start align-items-center">
                <img src="./images/shield-security.png" class="pe-3" alt>
                <h2>Website Hosting &
                  Security</h2>
              </div>
              <div class="package-card-middle-border my-3"></div>
              <p>Reliable hosting with robust security measures to keep your
                website fast, safe, and always accessible.</p>
            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-4">
            <div class="option-add-style">
              <div class="d-flex justify-content-start align-items-center">
                <img src="./images/bezier.png" class="pe-3" alt>
                <h2>UI/UX
                  Revamp</h2>
              </div>
              <div class="package-card-middle-border my-3"></div>
              <p>Enhance user experience with a modern, intuitive, and
                conversion-focused design overhaul.</p>

            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-4">
            <div class="option-add-style">
              <div class="d-flex justify-content-start align-items-center">
                <img src="./images/presention-chart.png" class="pe-3" alt>
                <h2>CMS
                  Training
                </h2>
              </div>
              <div class="package-card-middle-border my-3"></div>
              <p>Learn to manage your website confidently with personalized
                training sessions on your content </p>

            </div>
          </div>
        </div>
      </section>
    </body>
  </html>
