body {
  font-family: 'Sora', sans-serif;
}
p{
  margin-bottom: 0px;
}
.header-wrapper {
  position: relative;
  background-color:#ffffff; /* fallback if image fails */
  color: #fff;
  overflow: hidden;
}


 .bg-img-layer-1 {
  background-image: url("../images/header_bg.png");
  position: absolute;
  top: 0;
  width: 100%;
  height: 850px;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img-layer-2 {
  background-image: url("../images/header_bg_2.png");
  position: absolute;
  top: 110px;
  width: 100%;
  height: 850px;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}


.header-wrapper .container {
  position: relative;
  z-index: 2; /* keeps content above background */
}

.header-right-content p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 30px;
}

.header-right-content button {
  font-size: 16px;
  font-weight: 600;
  color: #11152D;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 16px 23px 14px 23px;
}

.header-right-content .btn-view-our {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 25px;
   padding: 16px 23px 14px 23px;
  margin-left: 10px;
}

.head-project-detail-font {
  font-size: 74px;
  line-height: 70px;
}

.head-project-detail-text-font {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.trusted-title h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  padding-top: 130px;
}
