.services-wrapper {
  background: #f9f9f9;
}

@media (max-width: 576px) {
  .services-card h2 {
    font-size: 24px;
  }

  .services-card p {
    font-size: 14px;
  }
}
/* figma link */

https://www.figma.com/proto/YGJuW0iuDRIr3oWq6RzXOB/Infomax-Digital-Australia?node-id=1-2&t=vDep7HeyuRWRj9cL-0&scaling=scale-down-width&content-scaling=fixed&page-id=0%3A1&hide-ui=1