 <section>
      <div class="container">
       
       
        <div class="row-gap-maintain"></div>
        <!-- our partner section start -->
        <div class="row">
          <div class="col-12 col-lg-6">
            <img src="./images/image(16).png" alt>
          </div>
          <div class="col-12 col-lg-6 our-partner">
            <h2 class="mb-3">Our Partners</h2>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. In blandit elit ac tortor fermentum euismod. Etiam commodo
              risus et diam convallis vestibulum. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. In blandit elit.</p>
            <p class="mb-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
              blandit elit ac tortor fermentum euismod. Etiam commodo risus et
              diam convallis vestibulum</p>
            <div class="row">
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100" alt>
              </div>
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100" alt>
              </div>
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100" alt>
              </div>
              <div class="col-6 col-lg-3">
                <img src="./images/wordpressimg.png" class="w-100" alt>
              </div>
            </div>
          </div>
        </div>
        <div class="row-gap-maintain"></div>
        <!-- service section start -->
        <div class="row">
          <div class="col-12 core-service-section text-center">
            <h2 class="mb-3">Our Core Services</h2>
            <p>Comprehensive digital solutions tailored to your business
              needs</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3">
           <div class="services-card">
             <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="wb">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
           </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="services-card">
              <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="wb">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
           <div class="services-card">
             <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
           </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="services-card">
              <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
        </div>
         <div class="row mt-4">
          <div class="col-12 col-lg-3">
           <div class="services-card">
             <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="wb">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
           </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="services-card">
              <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="wb">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
          <div class="col-12 col-lg-3">
           <div class="services-card">
             <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
           </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="services-card">
              <img src="./images/websiteimg.png" class="" height="80px" width="80px"
              alt="">
            <h2 class="mb-3">Websites</h2>
            <p>Lorem ipsum dolor sit amet, Vivamus consectetur adipiscing</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-2 d-flex justify-content-center align-items-center">
            <button class="lear-more-btn">Learn More</button>
          </div>
        </div>
         <div class="row-gap-maintain"></div>
        <!-- our portfolio section -->
          <div class="row">
          <div class="col-12 core-service-section text-center">
            <h2 class="mb-3">Our Portfolio</h2>
            <p>Showcasing our best work for Australian businesses</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 p-0 associate-img-bg">
            <img src="./images/pmaimg.png" class="w-100" height="500px" alt="">
            <div class="px-4 py-4">
              <span class="bage-font-style me-2">Shopify</span><span class="bage-font-style me-2">Custom Apps</span><span class="bage-font-style me-2">SEO</span>
              <h2 class="my-3">PMA Associates</h2>
              <p>We provide a full range of Tax and Accounting services, along with Strategic Planning, Advisory, and Business Consultancy.</p>
            </div>
          </div>
          <div class="col-12 col-lg-4 p-0 syc-img-bg">
            <img src="./images/pmaimg.png" class="w-100" height="500px" alt="">
            <div class="px-4 py-4 border-bottom-end">                          
              <span class="syc-font-style me-2">WordPress</span><span class="syc-font-style me-2">Custom Apps</span><span class="syc-font-style me-2">Performance</span>
              <h2 class="my-3">SYC</h2>
              <p class="mb-3">SYC have extended this expertise to people of all ages for more than three decades.</p>
              <span class="syc-read-more">Read More</span><img src="../Layout/images/Arrow 3 (Stroke)(1).png" alt="">
            </div>
          </div>
           <div class="col-12 col-lg-4 p-0 associate-img-bg">
            <img src="./images/pmaimg.png" class="w-100" height="500px" alt="">
            <div class="px-4 py-4">
              <span class="bage-font-style me-2">Shopify</span><span class="bage-font-style me-2">Custom Apps</span><span class="bage-font-style me-2">SEO</span>
              <h2 class="my-3">PMA Associates</h2>
              <p>We provide a full range of Tax and Accounting services, along with Strategic Planning, Advisory, and Business Consultancy.</p>
            </div>
          </div>
        
        </div>
<div class="row-gap-maintain"></div>
<!-- client say section start -->
        <div class="row">
          <div class="col-12 core-service-section text-center">
            <h2 class="mb-3">Our Core Services</h2>
            <p>Comprehensive digital solutions tailored to your business
              needs</p>
          </div>
        </div>
      </div>
    </section>